*{
    margin: 0;
}
.container{
    width: 75%;
    max-width: 1420px;
    margin: 0 auto;
}
.section-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.section-title h1{
    font-size: 32px;
    margin-bottom: 30px;
}
.section-title p{
    width: 500px;
    margin-bottom: 30px;
}
/* banner section css */
.banner-section{
    background-color: rgba(187, 74, 112, 0.474);
    margin-bottom: 100px;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.banner-title{
    width: 525px;
}
.banner-title h1{
    font-size: 48px;
    font: bold;
    font-weight: 900;
}
.banner-title p{
    font-size: 20px;
    margin: 10px 0;
}
.banner-img img{
    width: 100%;
    height: 100vh;
    margin-bottom: -5px;
}
.button{
    background-color: rgb(221, 90, 134);
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    cursor: pointer;
}
.button:hover{
    background-color: rgb(215, 113, 147);
    transition: all 0.5s;
}

/* features section CSS */
.features-images{
    display: flex;
    justify-content: space-around;
    gap: 15px;
    align-items: end;
    text-align: center;
    text-decoration: underline;
    font: bold;
}
.Redish, .Pinkish , .aquaus{  
    border-radius: 300px 300px 0 0;
}
.flower img{
    height: 400px;
    width: 300px;
    padding: 20px 5px 0 5px;
}
.flower p{
    margin-top: 15px;
}
.Redish{
    background-color: rgba(208, 72, 140, 0.474);
}
.Pinkish{
    background-color: rgba(187, 74, 112, 0.474);
}
.aquaus{
    background-color: rgba(127, 255, 212, 0.387);
}
/* Support Section CSS */
.support-section{
    margin: 100px 0;
}
.support{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center; 
    background-color: aliceblue;
    padding: 5%;
    border-radius: 5px; 
}
.support img{
    width: 50px;
    height: 50px;
}
/* Discount Section CSS */
.discount-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(187, 74, 112, 0.097);
    margin-top: 100px;
    padding: 2% 10%;
}
.discount-title{
    width: 100%;
    text-align: center;
}
.discount-title h1{
    font-size: 32px;
}
.discount-title p{
    margin: 10px 0;
}
.text{
    color: rgb(216, 46, 103) ;
}
.discount-img img{
    width: 280px;
}
/* Instagram Section CSS */
.instagram-section{
    margin: 100px 0;
}
.card-images{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.card img{
    width: 250px;
    height: 280px;
}
/* Subscribe Section CSS */
.subscribe-section{
    background-image: url(./images/Rectangle\ 9.png);
    padding: 5% 0;
}
.subscribe-title{
    text-align: center;
}
.subscribe-title h1{
    margin: 5px;
    font-size: 28px;
}
.subscribe-form{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 30px;
}
.subscribe-form input{
   border: none;
   width: 60%;
}
/* Footer Section */
.footer-section{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10%;
    margin-top: 100px;
}
.footer-section h1{
    font-size: 32px;
    margin: 10px 0;
}
.footer p{
    margin-bottom: 30px;
}


@media screen and (max-width: 480px){
    .container{
        width: 90%;
        max-width: 1020px;
        margin: 0 auto;
    }
    .section-title h1{
        font-size: 24px;
        margin-bottom: 30px;
    }
    .section-title p{
        width: 80%;
        margin-bottom: 30px;
    }
    /* Banner Section */
    .banner-section{
        background-color: rgba(187, 74, 112, 0.474);
        margin-bottom: 50px;
    }
    .banner-img img{
        width: 100%;
        height: 100%;
        margin-bottom: -5px;
    }
    .banner-title{
        width: 600px;
    }
    .banner-title h1{
        font-size: 18px;
    }
    .banner-title p{
        margin: 10px 0;
        font-size: 10px;
    }
    .button{
        background-color: rgb(221, 90, 134);
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 10px;
        color: white;
        cursor: pointer;
    }
    .button:hover{
        background-color: rgb(215, 113, 147);
        transition: all 0.5s;
    }
    /* Feature Section CSS */
    .features-images{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        text-decoration: underline;
        font: bold;
    }
    .flower img{
        height: 300px;
        width: 250px;
        padding: 20px 5px 0 5px;
    }
    /*Support Section CSS  */
    .support{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center; 
        background-color: aliceblue;
        padding: 5%;
        border-radius: 5px; 
    }
    /* Discount Section */
    .discount-section{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(187, 74, 112, 0.097);
        padding: 2% 10%;
    }
    .discount-title h1{
        font-size: 20px;
    }
    .discount-img img{
        width: 100%;
    }
    /* Instagram Section CSS */
    .instagram-section{
        margin: 50px 0;
    }
    .card-images{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .card img{
        width: 250px;
        height: 280px;
    }

}

@media  screen and (min-width: 481px) and (max-width: 1024px) {
    /* Banner Section */
    .banner-section{
        background-color: rgba(187, 74, 112, 0.474);
        margin-bottom: 50px;
    }
    .banner-img img{
        width: 100%;
        height: 100%;
        margin-bottom: -5px;
    }
    .banner-title{
        width: 600px;
    }
    .banner-title h1{
        font-size: 18px;
    }
    .banner-title p{
        margin: 10px 0;
        font-size: 10px;
    }
    .button{
        background-color: rgb(221, 90, 134);
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 10px;
        color: white;
        cursor: pointer;
    }
    .button:hover{
        background-color: rgb(215, 113, 147);
        transition: all 0.5s;
    }
   /* Feature Section CSS */
   .features-images{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    text-align: center;
    text-decoration: underline;
    font: bold;
}
.flower img{
    height: 150px;
    width: 100px;
    padding: 20px 5px 0 5px;
}
/* Discount Section CSS */
.discount-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(187, 74, 112, 0.097);
    padding: 2% 10%;
}
.discount-title h1{
    font-size: 20px;
}
.discount-img img{
    width: 100%;
}
/* Instagram Section CSS */
.card-images{
    display: grid;
    grid-template-columns: repeat(2, 0.3fr);
    justify-content: center;
    gap: 5px;
}
.card img{
    width: 150px;
    height: 150px;
}
/* Subscribe Section CSS */

.container{
    width: 100%;
}
}
